@charset "UTF-8";
/* MOBILE */
@media (max-width: 768px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }
  .novedades, .vehiculos {
    width: 100%;
    height: auto;
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
  }
  .mainLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tamañoNosotros {
    width: 100%;
    height: auto;
  }
  .ubicarTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .loguitosProductos {
    width: 100px;
    height: 100px;
  }
  .filaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .puerto {
    width: 100%;
    height: auto;
  }
  .ruedas {
    width: 100%;
    height: auto;
  }
  .logosContacto {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .tamañoForm {
    width: 350px;
    height: 50px;
    margin: 2px;
  }
  .chaser {
    width: 100%;
    height: auto;
  }
  .acomodarRedes {
    font-size: 22px;
  }
}
/* DESKTOP */
@media (min-width: 1023px) {
  .gridIndex, .gridMainIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }
  .ubicarNovedades {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .ubicarVehiculos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .mainLogos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .ubicarTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .novedades {
    width: 400px;
    height: 440px;
    margin: 20px 60px;
  }
  .vehiculos {
    width: 460px;
    height: 330px;
    margin: 1px 40px;
  }
  .tamañoNosotros {
    width: 600px;
    height: 360px;
  }
  footer div {
    display: grid;
    grid-template-areas: "titulo titulo" "face insta";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
  .acomodarFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .logosFooter {
    display: flex;
  }
  .chaser {
    width: 90%;
    height: auto;
  }
  .loguitosProductos {
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  .filaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gridMainServicios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .ubicarPuerto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .ubicarRuedas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .puerto {
    width: 410px;
    height: 510px;
    margin: 10px 40px;
  }
  .ruedas {
    width: 340px;
    height: 300px;
    margin: 10px 40px;
  }
  .tamañoForm {
    width: 350px;
    height: 50px;
    margin: 2px;
  }
  .gridMainContacto {
    display: grid;
    grid-template-areas: "form contacto" "ubicacion ubicacion";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .formulario {
    grid-area: form;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .logosContacto {
    grid-area: contacto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ubicacion {
    grid-area: ubicacion;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .listas:hover {
    text-decoration: var(--text-color);
    background-color: var(--fondo-letras-header);
    border-radius: 30px;
  }
}
:root {
  --bg-principal: cornflowerblue;
  --text-color: black;
  --fondo-letras-header: rgba(226, 226, 226, 0.877);
}

header {
  background-color: var(--bg-principal);
  position: sticky;
  top: 0;
}

footer {
  background-image: linear-gradient(to top, var(--bg-principal), transparent);
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logoRedes {
  width: 50px;
  height: 50px;
}

h1, h2, h3, h4, h5, p, .listas {
  font-family: "Prompt", sans-serif;
}

h4 {
  padding: 10px;
}

.listas {
  font-size: 20px;
  padding: 10px;
  transition: 0.3s all;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.tamañoLogo {
  width: 170px;
  height: 70px;
}

.loguitos {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.tamañosLogo {
  padding: 0px;
  margin: 30px;
}

.contactoLogo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
}

.telefonoLogo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.logoMail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
}

.logoFace {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

* {
  margin: 0;
}

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
